/*
* @Author: guhang
* @Date:   2018-01-03 13:59:17
* @Last Modified by:   guhang
* @Last Modified time: 2018-01-03 16:28:36
*/

.about-container-style{
	text-align: center;
	color:#fff;
	width:100%;
}
.list-containers-style{
	width:80%;
	margin:0 auto;
	height: auto;
}
.list-about{
	width:250px;
	height: 350px;
	float:left;
	margin-left: 3%;
}
.img-style{
	color: #fff;
	font-weight: 900;
}
.checkbox-style{
	margin-left: 0px;
	text-align: left;
}
