/*
* @Author: guhang
* @Date:   2018-01-03 13:59:17
* @Last Modified by:   guhang
* @Last Modified time: 2018-03-02 16:22:52
*/

.login{
	.please-login{
		line-height: 60px;
		color: #757575;
		font-size: 30px;
		margin-top: 60px;
	}
	#div1{
		color: red;
	}
	.tou{
        padding-top: 250px;
        padding-left: 30px;
        padding-bottom: 100px;
        padding-right: 30px;
        .img1{
        	height: auto;
        	width: auto;
        }
	}
	.divU{
        position: relative;
        padding-right: 283px;
        width:280px;height:44px;
        margin: 0 auto;
        overflow: hidden;
        .img2{
            position:absolute;
        	height: 18px;
        	width: 18px;
            left: 16px;
        	top: calc(50% - 9px);
        }
        #User1{
	 	width:280px;height:44px;border:10px;font-size:14px;
	 	color: rgb(159,159,159);
	 	background-color: rgba(0,0,0,0.5);
	 	border-radius:20px;
	 	position:absolute;text-indent:45px;
	 	color: #fefefe;
	 	&::-webkit-input-placeholder
		{
		    text-indent:45px;
		    color: #bbb;
		    padding-top: 4px;
		}
	 } 
	}

    .divP{
        position: relative;
        padding-right: 283px;
        width:280px;height:44px;
        margin: 24px auto 0;
        overflow: hidden;
        .img2{
            position:absolute;
        	height: 18px;
        	width: 18px;
            left: 16px;
        	top: calc(50% - 9px);
        }
        #Pass1{
	 	width:280px;height:44px;border:none;font-size:14px;
	 	color: #fefefe;
	 	background-color: rgba(0,0,0,0.5);
	 	border-radius:20px;
	 	position:absolute;text-indent:45px;
 	 	&::-webkit-input-placeholder
 		{
 		    text-indent:45px;
 		    color: #bbb;
 		    padding-top: 4px;
 		}
	 }
    }

    #login{
	 	width:280px;height:44px;border:none;font-size:14px;clear:both;
	 	background-color: rgb(253,55,104);
	 	border-radius:20px;
	 	margin-top: 20px;
	 	color: rgb(255,255,200);
	 	font-weight: bold;
	 }

	.dialog1{
		font-size: 16px;
		color: #f12f12;
		margin-top: 20px;
	}
}